/*desktop only screen*/
@media screen and (min-width: 900px) {
	.modal{
		left: 14% !important;
	}
	.about-desc{
	    font-size: 0.85vw;
	}
	.about-title{
	    font-size: 0.85vw;
	    line-height: 13px;
	}
	.height-100{
		height: 100vh;
	}
	.height-8-1{
		height: 8.1vh;
	}
	.height-18{
		height: 18vh;
	}
	.height-74{
		height: 72.2vh;
	}
	.height-58{
		height: 58vh;
	}
	.height-4{
		height: 4.4vh;
	}
	.height-5{
		height: 5vh;
	}
	.height-8{
		height:8vh;
	}
	.height-22p{
		height: 22%;
	}
	.height-10{
		height: 10vh;
	}
	.height-11{
		height: 11vh;
	}
	.height-22{
		height: 22vh;
	}
	.height-82{
		height:82vh;
	}
	.height-68{
		height: 68.2vh;
	}
	.height-55-percent{
		height: 55%;
	}
	.height-45-percent{
		height: 45%;
	}
	.p-absolute{
		position: absolute;
	}
	.inner-navbar{
		height: 10vh;padding-right:35px;padding-left: 0px;position: fixed;top: 0;width: 71.7%;z-index: 1;padding-top: 0.2%;
	}
	.inner-menu{
		position: fixed;width: 100%;left: 0;top: 0;
	}
	.inner-submenu{
		padding-right: 0px;padding-left: 35px;height: 18vh;
	}
	.pl-13p{
		padding-left: 13%;
	}
	.desktop-d-none{
		display: none;
	}
	.v-center-left{
	    position: absolute;
	    top: 50%;
	    left: 20%;
	    transform: translateY(-50%);
	}
	.v-center-right{
	    position: absolute;
	    top: 60%;
	    left: 40%;
	    transform: translateY(-55%);
	}
	.v-center-left1{
	    position: absolute;
	    top: 50%;
	    left: 15%;
	    transform: translateY(-50%);
	}
	.v-center-right1{
	    position: absolute;
	    top: 60%;
	    left: 35%;
	    transform: translateY(-55%);
	}
	.v-center-left4{
	    position: absolute;
	    top: 50%;
	    left: 20%;
	    transform: translateY(-50%);
	}
	.v-center-right4{
	    position: absolute;
	    top: 60%;
	    left: 45%;
	    transform: translateY(-55%);
	}
	.media-p-2{
		padding: .5rem;
	}
	.media-font-13{
		font-size: 13px;
	}
	.media-font-12{
		font-size: 12px;
	}
	.marL-27{
		margin-left: 27.3%;
	}
	.main-inner{
		height: auto;padding-right:35px;padding-left: 30px;padding-top: 7%;z-index: -1;
	}
	.mb-32{
		margin-bottom: -32px;
	}
	.p-x-4{
        padding-left: 2.8rem;
        padding-right: 2.8rem;
    }
    .pr-90{
    	padding-right: 90px;
    }
    .home-form-height-78{
	  height: 78%;position: relative;display:block;
	}
	.home-form-2{
	  position: absolute;top:2%;
	}
	.home-form-17{
	  position: absolute;top:17%;
	}
	.home-form-34{
	  position: absolute;top:34%;
	}
	.home-form-52{
	  position: absolute;top:52%;
	}
	.home-form-87{
	  position: absolute;top: 87%;
	}
	.top-17pp{
		position: absolute;top: 17%;
	}
	.top-13p{
		position: absolute;top: 13%;
	}
	.top-5p{
		position: absolute;top: 5%;
	}
	.table td, .table th{
	    padding:.75rem .95rem .75rem 2rem !important;
	}
}
/*mobile only screen*/
@media screen and (max-width: 900px) {
	.container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
		padding: 0px 15px;
	}
	.table td, .table th{
	    padding:.5rem .5rem .5rem .5rem !important;
	}
	.mobile-mb-3{
		margin-bottom: 30px;
	}
	.mobile-pr-2{
		padding-right: .5rem!important;
	}
	.media-contact-px-2{
		padding-left: 25px;
    	padding-right: 25px;
    	padding-top: 15px;
	}
	.media-pt-0 .marT-10{
		padding-top: 4px !important;
		line-height: 1 !important;
	}
	.font-18{
		font-size: 16px !important;
	}
	.media-mx-0{
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.media-px-0{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.media-py-0{
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	.media-px-2{
		padding-left: .5rem !important;
		padding-right: .5rem !important;
	}
	.media-studio-img{
		width: 12% !important;
		margin-top: -14px;
	}
	.lh-2{
		line-height: 0 !important;
	}
	.mobile-center{
		text-align: -webkit-center !important;
	}
	.mobile-d-grid{
		display: grid !important;
	}
	.media-pt-20px{
		padding-top: 25px !important;
	}
	.media-pt-4{
		padding-top: 1.5rem!important;
	}
	.media-pl-0{
		padding-left: 0px !important;
	}
	.media-pl-1{
		padding-left: 5px !important;
	}
	.media-pt-0{
		padding-top: 0px !important;
	}
	.hw-flex{
		display: block !important;
	}
	.home-form-52{
		margin-top: 40px !important;
	}
	.media-pt-20px{
		padding-top: 20px;
	}
	.home-form-height-78{
		padding-bottom: 22px;
	}
	.media-w-100{
		width: 100%;
	}
	.font-35{
	    font-size: 26px;
	}
	.btn-mt-2{
		margin-top: 20px !important;
	}
	.media-px{
		padding-left: 0px !important;padding-right: 0px !important;
	}
	.media-mx{
		margin-left: 0px !important;margin-right: 0px !important;
	}
	.media-px-2{
		padding-left: 25px;padding-right: 25px;
	}
	.media-w-img{
		width: 20%;
	}
	.p-x-4{
        padding-left: 1.4rem !important;
        padding-right: 1.4rem !important;
    }
	.mb-32{
		margin-bottom: 0px;
	}
	.w-80{
        width: 75% !important;
    }
    .w-20{
        width: 25% !important;
    }
	.mobile-d-none{
		display: none;
	}
	.v-center-left img{
		position: relative !important;
		top: 20% !important;
		left: 50% !important;
		right: 50% !important;
		transform: translateX(-50%) !important;
	}
	.v-center-left1 img{
		position: relative !important;
		top: 14% !important;
		width: 56% !important;
		left: 50% !important;
		right: 50% !important;
		transform: translateX(-50%) !important;
	}
	.v-center-left4 img{
	    position: relative !important;
	    top: 60%;
	    left: 20%;
	    transform: translateY(-50%);
	}
	.border-white{
		box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.15), 0px 1px 4px 1px rgba(255,255,255,0.8);
	    background-image: linear-gradient(to right, #EDEEF3 , #F4F5F9);
	}
	.media-p-2{
		padding: .5rem 0rem;
	}
	.media-font-13{
		font-size: 12px;
	}
	.media-font-12{
		font-size: 11px;
	}
	.media-pb-3{
		padding-bottom: 1rem;
	}
	.media-mt-4{
		margin-top: 1.5rem !important;
	}
	.media-mt-0{
		margin-top: 0px !important;
	}
	.mobile-hw-img{
		width: 18% !important;
	}
	.media-my-4{
		margin-top: 0rem !important;margin-bottom: 1.5rem !important;
	}
	.media-pr-0{
		padding-right: 0px;overflow-x: hidden;
	}
	.media-py-3{
		padding: 1rem 0rem !important;
	}
	.page-1-btn{
		margin: 0px auto;
	}
}
.top-10-perc{
	top: 10%;
}
.top-35-perc{
	top: 35%;
}
.top-78-perc{
	top: 69%;
}
.w-40{
	width: 40%;
}
.w-60{
	width: 60%;
}
.lh-18{
	line-height: 18px;
}
/*sidebar*/
.sidenav {
	height: 100vh;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #f3f4f7;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align:left;
}
.sidenav .menu-content-points {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.sidenav .menu-main-content-points {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.sidenav .menu-main-content-points:hover{
	color: #111;
}
.sidenav .closebtn {
	position: absolute;
	top: 2.6%;
	right: 35px;
	font-size: 36px;
	margin-left: 50px;
}
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}